.tutor-detail {
  padding-top: 50px;
  background: #3c6e71;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.details-container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0px 0px 20px;
  width: 60%;
  border-radius: 20px;
  color: #353535;
  align-items: center;
}
.tutor-user-name {
  font-size: 30px;
}

.tutor-email,
.tutor-hourlyrate {
  font-size: 20px;
}

.tutor-description {
  padding-bottom: 50px;
}
.tutor-user-image img {
  width: auto;
  height: 200px;
  border-radius: 100px;
}
