#signUp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  background-color: #3c6e71;
}

@media (max-width: 767px) {
  #signUp {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
