.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c6e71;
}

h1 {
  color: white;
  text-align: center;
}

.hero-image {
  width: auto;
  border-radius: 200px;
  height: 50vh;
  border: 6px solid rgb(248, 248, 248);
  box-shadow: 10px 10px 5px rgb(46, 45, 45);
}

.hero-image-paragraph-text {
  color: white;
  text-align: center;
}

.submit-button {
  align-self: start;
  color: #ffffff;
  background-color: #353535;
  margin: 5px;
  padding: 2px;
  border-radius: 4px;
  position: absolute;
  right: 4px;
}
